/*初始化*/
body,div,h1,h2,h3,h4,ul,li,ol,p,table,tr,td,form,dl,dt,dd,span,a,img,em,i,strong,label,input,select,option,textarea,br{margin: 0;padding: 0;}
li{list-style: none;}
a{color: #0a0c48; text-decoration: none;}
a:hover{opacity: 0.8;}
img{border: 0; vertical-align: top;}
/*h1,h2,h3,h4,strong,b{font-weight: normal;}*/
input{outline: none;}
em,i{font-style: normal;}
body{font-family: "方正兰亭","微软雅黑"; font-size: 18px; color: #666; background: url(../img/bg.jpg) no-repeat center top;
    background-color: #75a6ff;}
.clearfix:before,.clearfix:after{content: " "; display: table;}
.clearfix:after{clear: both;}
.layer{width: 1152px; margin: 0 auto;}

/*侧边导航*/
#subnav{position: fixed; left: 50%; top: 50px; margin-left: 495px; width: 149px; height: 629px; background: url("../img/subnav-bg.png") no-repeat;}
.subnav-list{width: 117px; margin: 17px 0 0 20px; text-align: center;}
.subnav-list-title{height: 38px;}
.subnav-list-title a{ display: block; color: #10159f; height: 38px; line-height: 38px;}
.subnav-list-One dd{ height: 28px; line-height: 28px;}
/*跑步运动*/
#running{ margin-top: 402px;}
.running-content{ background: url("../img/running-bg.jpg") no-repeat; padding-left: 386px;}
.ShopOwner{height: 75px; margin: 14px 0 4px 3px;}
.ShopOwner dt{width: 21px; height: 20px; background: url("../img/double-quote.png") no-repeat; margin-bottom: 3px;}
.ShopOwner dd{height:24px;line-height: 24px; color: #fff; margin-left: 25px;}

.shoes{width: 686px; margin-top: 4px; overflow: hidden;}
.shoes-BIG{width: 110%;}
.shoes-BIG li{float: left; width: 333px; height: 160px; margin: 0 9px 7px 0; background-color: #fff;}
.shoes-BIG a{display: block; height:160px; color: #000;}
.shoes-img{float: left; width: 234px; height: 160px;}
.buy{float: left; width: 87px; margin: 66px 0 0 12px;}
.buy span{display: block;}
.buy .maleFemale{width: 83px; height: 36px; line-height: 18px; font-size: 14px; padding: 0 0 9px 5px;
    white-space: nowrap; text-overflow: ellipsis;}
.buy .price{ width: 83px; height: 16px; line-height: 16px; font-size: 14px; color: #000; padding-left: 5px;}
.buy .price i{ margin-left: -4px;}
.buyRightNow{width: 83px; height: 23px; background-color: #000; font-size: 16px; color: #fff; border-radius: 2px; text-align: center;
    margin-top: 6px;}

.shoes-Small{width: 110%; margin: 3px 0 10px; overflow: hidden;}
.shoes-Small li{float: left; width: 162px;  height:206px; background-color: #fff; margin-right: 9px;}
.shoes-Small a{display: block;height: 206px;}
.shoesInfo{height: 44px; line-height: 22px; font-size: 14px; color: #000; text-align: center;}
.shoesInfo span{ display: block;}

/*公共类*/
.title{width: 100%; height: 100px; background: url(../img/title-bg.png) no-repeat center top;}
.title-CNI{height: 38px; line-height: 38px; font-size: 38px; color: #fff; text-align: center; margin-top: 19px;}
.title-ENG{display: block; height: 22px; background: url(../img/title-icon.png) no-repeat; margin-left: 499px;}